html {
  margin-top: 0 !important;
}

.footerbar, .copyright {
  margin-bottom: 30px;
  text-align: center;
  width: 100% !important;
}

.to-top-button {
  right: 10px;
  bottom: 30px;
}

.wrap, .container-small{
  width: 100%;
  padding: 0 10px;
}

.lightbox-content {
  width: 90%;
}

.header .button-login, .header .button-logout, .header .header-button {
  width: 100px;
  font-size: 15px;
  line-height: 46px;
  height: 46px;
  .transition(0ms);
}

.header #login-area #login-cnt{
  width: 100%;
}

.header .toggle-mobile-nav{
  font-size: 22px;
}

#mega-dropnav {
  top:46px;
  .nav {
    display: block !important;
    width: 90%;
    margin: 0 auto;
    height: 250px;
    overflow: auto;
    li {
      display: block;
      width:100%;
      li a{
        font-family:"Sanuk W01 Light";
      }
    }
  }
}

h1, .h1{
  font-size: 39px;
  line-height: 54px;
}

#content {
  margin-top: 0px;
  .omt-row {
    .teaser-modul {
      margin-left: 0;
      max-width: 100%;

      .teaser-small,
      .teaser-medium,
      .teaser-large {
        float: none;
      }
      .teaser-small,
      .teaser-medium,
      .teaser-large,
      .teaser-custom {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
      }
      .teaser-custom {
        margin-bottom: 0;
        &:nth-child(2n) {
          margin-bottom: 60px;
        }
      }
      .teaser-large {
        margin-bottom: 0;
      }
      .teaser-large, .teaser-medium {
        padding-left: 0px;
      }
    }
    .card .testimonial-img,
    .card .testimonial-text,
    .card .webinar-teaser-img,
    .card .webinar-teaser-text,
    .card .ebook-teaser-img,
    .card .ebook-teaser-text {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
    .teaser-highlight .teaser-highlight-text,
    .teaser-highlight-text {
      width: 100%;
    }
    .table-cats span {
      display: block;
    }
    .legend .table-cats i {
      margin-left: 0;
    }
    ul, ol {
      margin-left: 0;
    }
    .video_wrap, .vidembed_wrap {
      width: 100% !important;
    }
  }
}

#container {
  .omt-row {
    .teaser-modul {
      .teaser-small {
        float: none !important;
        margin-left:auto !important;
        margin-right: auto !important;
        padding-bottom: 10px !important;
      }
    }
  }
}

.template-themenwelt {
  .inhaltseditor, .webinar-zusammenfassungen {
    .container-small;
  }
}

.gform_wrapper, 
#content .gform_wrapper {
  padding: 5px;

  .gform_button {
    padding: 5px !important;
    font-size: 15px !important;
  }
}

#content .konferenzticket {
  padding: 30px;
  .ticket {
    padding: 0;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}


#content, .omt-row {
  .inhaltsverzeichnis {
    padding: 0px 00px 10px 50px !important;
    p.index_header {
      .wordbreak;
      &:before {
        left: 20px;
      }
    }
  }
  .inhaltsverzeichnis-sticky {
    .inhaltsverzeichnis {
      padding: 0px 00px 10px 50px !important;
      p.index_header {
        .wordbreak;
        &:before {
          left: 20px;
        }
      }
    }
  }
}

.blog-single {
  margin-top: 0 !important;
  padding: 0;
}

.autor-wrap {
  width: 100%;
  margin: 0;
}

/*******************************************************************************************
//THEMENWELT template-themenwelt
*******************************************************************************************/
.magazin-single-wrap {
  width: 100%;
  .magazin-hero {
    width: 100%;
    max-width: 100%;
    display: block;
  }
  article {
    max-width: 100%;
    .article-header, section {
      display: block;
      width: 100%;
    }
  }
  .single-title {
    font-size: 28px;
    line-height: 35px;
    margin: 20px 0;
  }
}


.slider-wrap {
  width: 100%;
  .slick-slide {
    width: 100%;
    margin: 0;
  }
}

.location-map-wrap {
  max-width: 100%;
}

.jobs-section {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.jobs-wrap .job-logo {
  margin: 10px 0 0 0;
  width:100%;
}

.seminar-single {
  padding: 0 10px;
}

#content .omt-row {
  .teaser-modul-highlight {
    margin-bottom: 30px;
    width: 100%;
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    img, .teaser-img {
      width: 100%;
      display: block;
      margin: 0px 0 15px 0;
    }
    .textarea {
      display: inline-block;
      width: 100%;
      margin: 0px;
      float: none;
      padding-left: 0px;
      align-self: flex-start;
      margin-top: 0;
      position: relative;
      top: 0px;
      h4, .h4 {
        line-height: initial;
        span, p.text-red {
          .teaser-cat;
        }
        a {
          &:hover {
            color: @omt_lightblue;
          }
        }
      }
    }
    .text-highlight {
      color: @omt_lightblue;
      margin-bottom: 30px !important;
      a {
        //color: @omt_lightblue;
        text-decoration-style: dashed;
        //text-decoration: none;
        //border-bottom: none;

      }
    }
  }
  //teaser modul highlight
  .webinare-wrap {
    h4, .h4 {
      min-height: auto;
    }
  }
  .banner-bg-inner {
    margin-bottom: 30px;
  }
}

#content .hero-header {
  height: 360px;
  margin-bottom:0;
}

.header #inner-header {
  .button-login, .button-logout, .header-button {
    right: 55px;
  }

  position: relative;
  top:-5px;
}
.header {
  .button-agenturfinder {
    right: 115px;
    font-size: 15px;
    line-height: 36px;
    height: 40px;
  }
}
#wpadminbar { display: none !important; }
.header {
  height: 46px;
  
  #inner-header {
    padding: 3px 0 10px 10px;
    height: 40px;
    .logo {
      top: 0px;
      width: 96px;
      img {
        height: 46px;
        width: 86px;
      }
    }
  }
}
.header .button-logout, .header .header-button {
  top: 0px;
}
.header .visible-on-mobile {
  position: relative;
  bottom: 22px;
}
.single-tool {
  #content {
    margin-top: 40px;

    &.tool-content-scrolled {
      padding-top: 120px;
    }
  }

  .no-hero {
    margin-top: 0;
  }

  .tool-header {
    top: 40px;
  }
}
#content .template-themenwelt .inhaltseditor img, #content .template-themenwelt .webinar-zusammenfassungen img {
  max-width: 100%;
}

.jobs-wrap {
  .job {
    a {
      padding: 0;
      .job-content {
        width: 100%;
        padding: 0;
      }
    }
  }
}

#content .single-webinare, .single-webinare {
  .color-area-grau {
    margin: 70px auto 130px auto !important;
    .omt-module {
      margin: 0 auto !important;
    }
  }
  .omt-row {
    .webinar-date {
      margin-top: 60px !important;
    }
  }
}
.color-area-grau, .color-area-rot, .color-area-blau, .color-area-hellblau, .color-area-weis, .color-area-gradient {
  padding: 0px 10px 0px 10px;
}
#content {
  .template-themenwelt {
    .inhaltseditor, .webinar-zusammenfassungen {
      ul, ol {
        padding-left: 30px;
      }
    }
  }
}

h1 {
  font-size: 40px;
  line-height: 45px;
}

.after-grid {
  margin-left: 0;
}

//countdown timer
#content .countdown {
  .countdown-wrap {
    flex-wrap:wrap;

    .countdown-grid-timer {
      width:100%;

      .countdown-grid-time {
        width: 50%;
        text-align: left;

        .countdown-time, .countdown-unit {
          width: auto;
          margin: 0 10px 0 0;
        }
      }
    }

    .button {
      width: 100%;
    }
  }
}

#content .countdown-sticky {
  padding-left:0 !important;
  //top: -130px !important;
  top: 0px !important;
  h3, .teaser-cat {
    display: none;
  }
  .countdown-grid-time {
    display: inline-block !important;
  }
  .countdown-days, .countdown-hours, .countdown-minutes, .countdown-seconds {
    //display: none !important;
    width: 25% !important;
    justify-content: center !important;
    letter-spacing: inherit !important;
    padding: 0px 5px !important;
    text-align: center !important;
    p {
      font-size: 16px !important;
      margin: 0 !important;
      padding: 0 !important;
      width: auto !important;
      display: inline !important;
    }
  }
  .countdown-wrap {
    margin: 15px 0 0 0;
  }
}

.header {
  #inner-header {
    nav {
      left: 115px;
    }
  }
}

.vergleichstabelle, #content .vergleichstabelle {
  display: none;
}
.vergleichstabelle-mobile {
  i.fa-check {
    color: limegreen;
  }
  i.fa-times {
    color: red;
  }
  display: block;
  width: 96%;
  margin: 0 auto;
}



.vip-produkt {
  .checklist-wrap {
    .checklist, .checklist-left, .checklist-right {
      width: 100%;
      display: block;
      .checklist-item, .checklist-item:last-child {
        border-bottom: 2px dotted @omt_lightblue;
        padding-bottom: 15px;
        margin-bottom: 15px;
        .name {
          padding-right: 10px;
          width: 79%;
        }
        .status {
          paddding-right: 0;
          width: 10%;
        }
      }
    }
    .checklist-left {
      margin-top: 30px;
    }
  }
}


#content .omt-row .teaser-image-wrap {
  width: 100%;
}
#content .termine-sticky, .omt-row .termine-sticky {
  //top:45px;
}
.module-tabs {
  .termine-sticky {
    .seminar-header-sticky {
      padding-top:5px;
      h3 {
        margin-bottom: 0px;
      }
    }
  }
    /* Style the tab */
  .tab {
  }
  /* Style the buttons that are used to open the tab content */
  .tab a, .tab span {
    font-size: 1rem;
    text-align: center;
    max-width: 50%;
    width: 50%;
    margin-bottom: 0px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
  }
}

#content .omt-row .teaser-modul-highlight .textarea h4 span, #content .omt-row .teaser-modul-highlight .textarea .h4 span {
 // color: @omt_blue;
}

.lightbox-video iframe {
  max-width: 100%;
}

#content .search-header .wrap .agenturfinder-dropdown {
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

#content .search-header {
  margin-top: 0px;
}

#content .inhaltsverzeichnis-show, .omt-row .inhaltsverzeichnis-show {
  top: 45px;
}

#content .ag-kontakt-wrap .agenturfinder-kontakt .kontakt-inner {
  .kontakt-left, .kontakt-right {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

.introbuttons-wrap {
  display: block;
  .introbutton {
    width: 100%;
  }
  .introbutton-first {
    margin-bottom: 15px;
  }
}

.kapitel-wrap {
  .kapitel-items-wrap {
    width: 100% !important;
  }
}

.ipadup {
  display: none !important;
}

.page #content, .single #content  {
  .placeholder-730 {
    height: 0px !important;
    padding: 0 !important;
    margin: 0px auto !important;
    background: none !important;
  }
}


.module-tabs {
  /* Style the tab */
  .tab {
  }
  /* Style the buttons that are used to open the tab content */
  .termine-sticky a {
  }
  .termine-sticky {
    .seminar-header-sticky {
      h3.sticky-title {
        width: 100%;
        margin-bottom: 10px;
        .title-span {
          width: 100%;
        }
        div {
          .sticky-termine, .active, .sticky-termine:focus {
            &:hover {
            }
          }
        }
      }
      .sticky-buttons {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 100%;
        a {
          font-size: 15px;
          margin:0 10px 0 0;
          width: auto;
          padding-top: 0px;
          padding-bottom: 0px;
          &:hover {
          }
          &:last-child {
            &:hover {
            }
          }
        }
        .active {
        }
      }
      .tablinks-termine, .tablinks-infopaket {
        display: none;
      }
    }

  }
}



.header-themenwelt-sticky {
  top: 46px;
}




.vortrag {
  .vortrag-header {
    .title {
      width: 100% !important;
    }
  }
}

.element-sticky {
  top: 45px;
  padding: 10px;
}

#content .header-flat {
  margin-top: 45px;
}

.body-flat {
  .header-flat {
    margin-top: 0px;
  }
  #content .grid-wrap .teaser-modul {
    max-width: 100% !important;
  }
}

.header {
  #inner-header {
    .header-search-input {
      top: 0px;
    }
  }
  .header-search-icon {
    top: 00px !important;
  }
}

.header #inner-header nav {
  position: relative;
  top: -20px !important;
}

.header-themenwelt-flat  {
  .header-themenwelt-inner {
    padding: 10px 15px;
    max-height: 40px;
    overflow: hidden;
    position: relative;
    .transition(300ms);
    &:before {
      content: "Springe zu...";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      font-family: "Sanuk W01 Black",sans-serif;
      font-size: 19px;
      padding: 7px 10px ;
      margin: 0 20px 0 0;
      border: none !important;
      background: #eff2f5 !important;
      color: #7797a8 !important;
      cursor: pointer;
      z-index: 999;
      .transition(300ms);
    }
    &:after {
      font-family: 'FontAwesome';
      content: '\f103';
      z-index: 1000;
      color: @omt_blue;
      font-weight: 700;
      font-size: 22px;
      position: absolute;
      right: 10px;
      top: 8px;
      cursor: pointer;
    }
    .sticky-buttons {
      opacity: 0;
      .transition(300ms);
      a {
        display: block;
        width: 100%;
      }
    }
  }
  &:hover {
    &:before {
      color: @omt_blue !important;
    }
  }
  .header-themenwelt-inner-active {
    max-height: 1000px;
    overflow: visible;
    .sticky-buttons {
      opacity: 1;
    }
    &:before {
      opacity: 0;
      z-index: -1;
    }
    &:after {
      display: none;
      content: "";
    }
  }
}




.body-flat {
  .header-omt-filter {
    .header-omt-filter-inner {
      position: relative;
      width: 1110px;
      max-width: 100%;
      margin: 0 10px;
      .omt-filter-dropdown {
        padding-left: 5px;
        padding-right: 15px;
      }
    }
  }
}

.themenwelten-modul {
  .button-themenwelt {
    margin-bottom: 30px !important;
  }
}

.single-seminare {
  .header-flat {
    margin-top: 0px;
  }
}

#toolkategorie-results {
  width: 100% !important;
}

.header-toolanbieter-backend {
  top: 40px;
  padding-left: 10px;
}

.module-backend-area .toolanbieter-main-content-wrap .backend-sections-wrap .backend-section {
  margin-right: 0px;
  width: 100%;
  margin-bottom: 30px;
}

.module-backend-area,
#toolanbieter-backend-editor {
  max-width: 100vw !important;
  width: 100% !important;
  .acf-fields, .acf-input, #kategorie-preview div, .acf-field, table, tr, td, iframe, form {
    max-width: 100vw !important;
    width: 100% !important;
  }
}

.page-template-page-toolanbieter #lightbox-area {
  max-width: 100vw;
  margin: 0px;
  padding: 10px;
}

.backend-area-subnav a {
  display:inline-block;
  margin-bottoM: 10px;
}

.single-tool, .single-tool #content {
	.rezensionen-wrap {
		.bewertung-zeile {
      justify-content: center;

			.title {
        text-align: center;
				width: 100%;
			}
		}
	}
}

#content {
  .icon-links-2-column-wrap {
    .icon-links-2-column {
      flex-direction: column;
      margin-bottom: 0;

      .icon-links-2-column-section {
        margin-bottom: 50px;
      }
    }
  }

  .full-width-promo-wrap {
    .full-width-promo {
      flex-direction: column;
      padding-top: 35px;
      padding-bottom: 35px;

      .full-width-promo-content {
        h4 {
          font-size: 36px;
          line-height: 44px;
        }

        .full-width-promo-items {
          .full-width-promo-item {
            .full-width-promo-item-icon {
              flex: 0 0 40px;
            }

            .full-width-promo-item-content {
              font-size: 18px;
              line-height: 22px;
            }
          }
        }

        .full-width-promo-headline-2 {
          font-size: 22px;
        }

        .full-width-promo-headline-content {
          font-size: 18px;
          margin-left: 20px;
          line-height: 24px;
        }
      }

      .full-width-promo-image-container {
        padding-top: 15px;
        max-width: 380px;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;

        .full-width-promo-image-text {
          padding-top: 20px;
        }
      }
    }
  }
}

.omt-downloads-content {
  .downloads-people-container {
    .person-section {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
  }

  .downloads-content-1,
  .downloads-content-2 {
    flex-direction: column;
  }

  .downloads-content-2 {
    > div:first-child {
      order: 2;
    }
  }
}

.omt-gravity-forms-container {
  margin-right: 0;
  margin-left: 0;
  flex-direction: column;

  > div {
    margin-right: 0;
    margin-bottom: 0.25rem;
  }
}

.team-member {
  .team-member-bottom {
    flex-direction: column;
    align-items: center;
  }
}

.team-members-gallery {
  .team-gallery-items {
    .team-gallery-item {
      width: calc(~'1/3 * 100% - (1 - 1/3) * 10px');

      &:nth-child(3n) {
        margin-right: 0;
      }

      &:nth-child(-n+3) {
        margin-top: 0;
      }
    }
  }
}

